cupy==7.0.0
chainer==7.0.0
pandas
chainercv==0.13.1
Pillow
progressbar2
tqdm
joblib
matplotlib
Sphinx
scipy
opencv-python
scikit-learn
h5py
scikit-image
xmltodict
git+https://github.com/yasuyuky/chainer-ya-utils
nnoir
nnoir-chainer
